<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Create User</title>
</head>
<body>
<h2>Create User</h2>

<form action="#" th:action="@{/users/}" th:object="${usr}" method="POST">
    <input type="text" th:field="*{username}" placeholder="Username">
    <input type="text" th:field="*{firstName}" placeholder="First Name">
    <input type="text" th:field="*{lastName}" placeholder="Last Name">
    <input type="date" th:field="*{dateOfBirth}" placeholder="Birth day">
    <button type="submit">Create</button>
</form>
<hr>
<a th:href="@{/users/}">Back to Users List</a>
</body>
</html>