<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Article</title>
</head>
<body>
<h2>Edit Article</h2>

<form action="#" th:action="@{/articles/{id}(id=${article.articleId})}" th:object="${article}" th:method="PATCH">
    <input type="text" th:field="*{title}" placeholder="Title">
    <input type="text" th:field="*{text}" placeholder="Text">
    <input type="text" th:field="*{image}" placeholder="">
    <input type="date" th:field="*{hidden}" placeholder="Birth day">
    <button type="submit">Update</button>
</form>
<hr>
<a th:href="@{/users/}">Back to Users List</a>
</body>
</html>